.hidden
    display: none

.invisible
    visibility: hidden


.dimmed:after
    background: rgba(0,0,0,0.4)!important
.light-dimmed:after
    background: hsla(0,0%,100%,0.6)!important
.dimmed:after, .light-dimmed:after
    content: ""
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0


.ellipsis
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
.ellipsis-2-lines 
    -webkit-line-clamp: 2
.ellipsis-3-lines 
    -webkit-line-clamp: 3
.ellipsis-2-lines, .ellipsis-3-lines 
    overflow: hidden
    display: -webkit-box
    -webkit-box-orient: vertical

@media screen and (  min-width:1px  ) and ( max-width:$xs  )
    .sm,
    .md,
    .lg,
    .xl,
    .gt-xs,
    .gt-sm,
    .gt-md,
    .gt-lg,
    .gt-xl,
        display: none
        
@media screen and (  min-width:$xs+1  ) and ( max-width:$sm  )
    .xs,
    .md,
    .lg,
    .xl,
    .gt-sm,
    .gt-md,
    .gt-lg,
    .gt-xl,
    .lt-xs
        display: none
        
@media screen and (  min-width:$sm+1  ) and ( max-width:$md  )
    .xs,
    .sm,
    .lg,
    .xl,
    .gt-md,
    .gt-lg,
    .gt-xl,
    .lt-xs,
    .lt-md
        display: none
        
@media screen and (  min-width:$md+1  ) and ( max-width:$lg  )
    .xs,
    .sm,
    .md,
    .xl,
    .gt-lg,
    .gt-xl,
    .lt-xs,
    .lt-md
        display: none
        
@media screen and (  min-width:$lg+1  )
    .xs,
    .sm,
    .md,
    .lg,
    .gt-xl,
    .lt-xs,
    .lt-md,
    .lt-lg,
        display: none
